@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .accordion-header {
        @apply px-6 py-4 rounded-lg cursor-pointer bg-sky-700;
    }

    .accordion-header.active svg {
        @apply transition-all duration-300 ease-in-out;
        transform: rotate(180deg);
    }

    .accordion-body {
        @apply overflow-hidden transition-all duration-200 ease-out max-h-0;
    }
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999]  bg-opacity-70 backdrop-blur-sm bg-dark bg-opacity-50;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.wrapper {
    animation: slide 16s ease-in-out infinite alternate; /* Ganti gambar setiap 5 detik */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.control ul li {
    width: 10px;
    height: 10px;
    border: 2px solid #cbd5e1;
    border-radius: 50px;
    margin: 10px;
    background: #cbd5e1;
    cursor: pointer;
}

.control ul li.selected {
    opacity: 0.5;
}

.card-body {
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.card:hover .card-body {
    right: 0;
}

.cards-body {
    left: 0;
    bottom: -40%;
    width: 100%;
    height: 40%;
    transition: 0.5s;
}

.cards:hover .cards-body {
    bottom: 0%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #0284c7;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        oppacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
